:root {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10pt;
  line-height: 1.4;
}

body {
  margin: 1em auto;
  max-width: 1000px;
}

header {
  padding-top: 10px;
  text-align: center;
}

header strong {
  font-size: 26pt;
  font-weight: normal;
  color: #000;
}

main {
  padding-bottom: 10px;
}

/* main content */

.hero {
  text-align: center;
  margin-top: 1em;
}

.hero img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 0.5em;
}

.hero p {
  margin: 0.3em 0;
}

/* links */

.links a {
  color: #006eff;
  text-decoration: none;
}

.links a:hover {
  background-color: #006eff;
  color: #fff;
}

/* footer */

.site-footer {
  margin-top: 2em;
  text-align: center;
  font-size: 8pt;
  color: #666;
}

