body {
  line-height: 1.4;
  font-size: 10pt;
  background-color: #0e0e0e;
  color: #e0e0e0;
  font-family: "Lucida Console", monaco, monospace;
  margin: 1em auto;
  max-width: 1000px;
}

main {
  padding-bottom: 10px;
}

main a {
  color: #006eff;
}

main a:hover {
  background-color: #006eff;
  color: #fff;
}

header {
  color: #afafaf;
  padding-top: 10px;
  text-align: center;
}

header strong {
  font-size: 26pt;
  font-weight: normal;
}

hr {
  border: 0;
  border-top: 1px solid #afafaf;
}

h1,h2,h3{
  /*line-height:1.2;*/
  color: #afafaf;
  font-weight: normal;
  /*text-transform: lowercase;*/
}


